.title-app{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: red;
    text-shadow: 2px 3px 5px red;
    user-select: none;
}