.title-app{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0;
    color: red;
    text-shadow: 2px 3px 5px red;
    user-select: none;
}
.error-listing{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}